<div class="edit-page">
<h3><strong>Editing Book</strong></h3>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>
<% if @book.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    <h5>Title</h5>
    <%= f.text_field :title, class:"book_title" %>

    <h5>Body</h5>
    <%= f.text_area :body, class:"book_body" %>
    <div class="update-button">
    <%= f.submit 'Update Book' %>
	</div>
	<div style="font-size: 12px"><%= link_to "Show", book_path(@book), class:"show_#{:id}" %>
	<span>|</span>
	<%= link_to "Back", books_path(@books),class:"back" %>
	</div>
	<% end %>
</div>