<div class="index-page">

<% if flash[:notice] %>
<p style="margin: 30px"><%= flash[:notice] %></p>
<% end %>

<div>
<h2>Books</h2>

<table class="table">
<tr>
<th>Title</th>
<th>Body</th>
</tr>

<% @books.each do |book| %>

<tr>
<td><%= book.title %></td>
<td><%= book.body %></td>
<td style="width: 43px">
	<%=link_to "Show",book_path(book.id), class:"show_#{:id}" %>
	</td>
<td style="width: 30px">
	<%=link_to "Edit",edit_book_path(book.id), class:"edit_#{:id}" %>
	</td>
<td style="width: 61px">
	<%=link_to "Destroy",book_path(book.id), class:"destroy_#{:id}", method: :delete, "data-confirm" => "Are you sure?" %>
	</td>
</tr>
<% end %>

</table>
</div>

<div>
<h3>New book</h3>
<!-- form_for部分 -->
<%= form_for(@book) do |f| %>
<% if @book.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    <h5>Title</h5>
    <%= f.text_field :title, class:"book_title" %>

    <h5>Body</h5>
    <%= f.text_area :body,class:"book_body" %>

    <div class="create-button">
    <%= f.submit 'Create Book' %>
	</div>
<% end %>
</div>
</div>